@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    font-family: 'Roboto', sans-serif;
}
.gradient-bar {
  background: linear-gradient(to top left, #f9ab00, rgba(255, 153, 150, 0), #ea4335), linear-gradient(to top right, #4285f4, rgba(255, 153, 150, 0), #34a853);
  height: 20px;
  padding: 0;
 }


/*NavBar*/
.navbar {
  background-color: black;
}
.brand {
  width: 100px;
  flex-shrink: 0;
}


/*Info Section*/
.info {
  /* background: linear-gradient(136deg, #000 45.86%, rgba(0, 0, 0, 0.00) 100.29%);
  color: white; */
  padding: 2%;
}


/*Speakers Page*/
.speakers {
  background: linear-gradient(to top left, #f9ab00, rgba(255, 153, 150, 0), #ea4335), linear-gradient(to top right, #4285f4, rgba(255, 153, 150, 0), #34a853);
}
.speakerAll-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 500px;
  border: none;
  background: black;
}
.speakerAll-image {
  border-radius: 5px 0 0 5px;
  height: 167px;
  width: 167px;
  object-fit: cover;
  object-position: center top
}
.card-title {
  font-weight: bold;
}
.card-subtitle {
  margin-bottom: 5px;
}
.card-body {
  color: white;
  padding-bottom: 0;
}
.card-text {
  font-size: small;
}
.badge {
  margin: 1px;
}
.badge-keynote {
  background-color: #9E8EEC;
}
.badge-workshop {
  background-color: #167D9A;
}
.badge-AI {
  background-color: #4F9CFC;
}
.badge-dataAI {
  background-color: #CBE0FE;
}
.badge-web {
  background-color: #966F14;
}
.badge-mjc {
  background-color: #94C853;
}
.badge-DN {
  background-color: #18845C;
}
.badge-EGWC {
  background-color: #C4EDFA;
}
.badge-engagement {
  background-color: #5E4DB2;
}
.badge-device {
  background-color: #67C3DF;
}


/*Footer*/
footer {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
 }
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #4285f4;
  color: white;
}
.fa-instagram {
  background: #f9ab00;
  color: white;
}
.fa-facebook {
  background: #34a853;
  color: white;
}
.fa-youtube {
  background: #ea4335;
  color: white;
}


/*Media Queries*/
@media (max-width: 576px) {
  .card-title {
    font-weight: bold;
    font-size: medium;
  }
  .card-subtitle {
    margin-bottom: 5px;
    font-size: small;
    font-weight: bold;
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
}