@import url('https://fonts.googleapis.com/css?family=M PLUS Rounded 1c');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    font-family: 'M Plus Rounded 1c', sans-serif;
  }


/* NavBar */
  .navbar {
    width: 100%;
  
  }

  .brand {
    width: 85px;
    height: 19px;
    flex-shrink: 0; 

  }

  body {

  }




/* Main Info Section */
.info {
  background: linear-gradient(136deg, #000 45.86%, rgba(0, 0, 0, 0.00) 100.29%);
  color: white;
  padding: 5%;
  margin-bottom: 1%;
}

.devfest-logo{
  width: 200px;
  height: 100px;
}

.devfest-img{
  width: 200px;
  height: 100px;
}

.button {
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #0075FF;
}



/* Keynote Speaker Section */


.keynote{


}
.keynote-speaker-card {

}

.keynote-speaker-title{
  color: #000;
  font-family: Rounded Mplus 1c;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.keynote-speaker-img{
  border-radius: 10px 10px 0px 0px;
  background:lightgray 50% / cover no-repeat;
  width: 80%;
  height: 80%;
}

.keynote-speaker-bar{
  background: #F8BB17;
  height: 8px;

}

.keynote-speaker-text{
  border-radius: 10px;
  background: rgba(248, 187, 23, 0.20);
}



  footer {
    width: 100%;
    text-align: center;
  }

 .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
 }

 .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }